In [ ]:
!kaggle datasets download -d danofer/sarcasm
!unzip sarcasm.zip

In [ ]:
import pandas as pd

dataset = pd.read_csv("train-balanced-sarcasm.csv")

In [10]:
dataset.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010826 entries, 0 to 1010825
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   label           1010826 non-null  int64
 1   comment         1010771 non-null  object
 2   author          1010826 non-null  object
 3   subreddit       1010826 non-null  object
 4   score           1010826 non-null  int64
 5   ups             1010826 non-null  int64
 6   downs           1010826 non-null  int64
 7   date            1010826 non-null  object
 8   created_utc     1010826 non-null  object
 9   parent_comment  1010826 non-null  object
dtypes: int64(4), object(6)
memory usage: 588.1 MB

Checking for null values and removing them

In [ ]:
print("Number of NULL values:")
print(dataset.isnull().sum())

print("Number of NULL values post-removal:")
dataset.dropna(inplace=True)
print(dataset.isnull().sum())

Number of NULL values:
label              0
comment           55
author             0
subreddit          0
score              0
ups                0
downs              0
date               0
created_utc        0
parent_comment     0
dtype: int64
Number of NULL values post-removal:
label             0
comment           0
author            0
subreddit         0
score             0
ups               0
downs             0
date              0
created_utc       0
parent_comment    0
dtype: int64

Checking for duplicate values and removing them

In [ ]:
print("Number of Duplicate Values:")
print(dataset.duplicated().sum())

print("Number of Duplicate Values post-removal:")
dataset.drop_duplicates(inplace=True)
print(dataset.duplicated().sum())

Number of Duplicate Values:
28
Number of Duplicate Values post-removal:
0

Class Distribution

In [ ]:
dataset["label"].value_counts()

label
0    505403
1    505340
Name: count, dtype: int64

In [ ]:
import re

def preprocessing(text):
    text = text.lower()
    text = re.sub(r"http\S+|www\S+|https\S+", '', text, flags=re.MULTILINE)
    text = re.sub(r'\@\w+|\#', '', text)
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()

    return text

In [ ]:
dataset["comment"] = dataset["comment"].apply(preprocessing)